/* Definição do estilo dos exemplos: */

/* Exemplo 1: */

.exemplo1 .item-1 {
  grid-column: 3;
  grid-row: 1;
}

.exemplo1 .item-2 {
  grid-column: 1;
  grid-row: 2;
}

.exemplo1 .item-3 {
  grid-column: 2;
  grid-row: 2;
}

.exemplo1 .item-4 {
  grid-column: 3;
  grid-row: 2;
}

.exemplo1 .item-5 {
  grid-column: 1;
  grid-row: 3;
}

.exemplo1 .item-6 {
  grid-column: 3;
  grid-row: 3;
}

/* Exemplo 2 (Span): */

.exemplo2 .item-1 {
  /* A partir da linha-guia 1, expanda-se por 3 colunas. */
  grid-column: 1 / span 3;
  grid-row: 1;
}

.exemplo2 .item-2 {
  grid-column: 1;
  /* A partir da linha-guia 2, expanda-se por 2 linhas. */
  grid-row: 2 / span 2;
}

.exemplo2 .item-3 {
  grid-column: 2;
  grid-row: 2;
}

.exemplo2 .item-4 {
  grid-column: 3;
  grid-row: 2;
}

.exemplo2 .item-5 {
  grid-column: 2;
  grid-row: 3;
}

.exemplo2 .item-6 {
  grid-column: 3;
  grid-row: 3;
}

/* Exemplo 3 (start/end): */

.exemplo3 .item-1 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.exemplo3 .item-2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.exemplo3 .item-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.exemplo3 .item-4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.exemplo3 .item-5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.exemplo3 .item-6 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

/* Exemplo 4 (grid-template-areas): */

.exemplo4 {
  grid-template-areas: 
  "header header header"
  "sidenav content ads"
  "sidenav footer footer";
 
}

.exemplo4 .item-1 {
  grid-area: header;

  
}

.exemplo4 .item-2 {
  grid-area: sidenav;

}

.exemplo4 .item-3 {
  grid-area: content;

  
}

.exemplo4 .item-4 {
  grid-area: ads;

}

.exemplo4 .item-5 {
  grid-area: footer;

}
/* Exemplo 5 (Vazio): */

.exemplo5 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 50px 100px;
  grid-template-areas:
    "area1 area2 area3"
    ". . ."
    "area4 area5 area5";
}

.exemplo5 .item-1 {
  grid-area: area1;
}

.exemplo5 .item-2 {
  grid-area: area2;
}

.exemplo5 .item-3 {
  grid-area: area3;
}

.exemplo5 .item-4 {
  grid-area: area4;
}

.exemplo5 .item-5 {
  grid-area: area5;
}

/* Definições gerais: */

* {
  margin: 0px;
}

body {
  font-family: Arial;
  color: #333;
  margin-block-start: 50px;
}

h1 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.titulo {
  margin-block-end: 50px;
  font-size: 38px;
}

div > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-block-start: 50px;
  margin-block-end: 50px;
}

.grid {
  display: grid;
  max-width: 800px;
  margin: 50px auto;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.025);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background: rgba(255, 100, 0, 0.2);
  text-align: center;
  font-size: 20px;
}
